.circle-menu{
  text-align: center;
   width: 60%;
   padding: 10px;
  color: black;
    position: relative;
}
.circle-menu2{
    text-align: center;
     width: 40%;
     padding: 10px;
   
      position: relative;
  }
