.formation-home{
    background-color: rgba(169, 169, 169, 0.233);
    width: 95%;
    margin: -15px auto 50px ;
    padding: 20px;
    display: flex;
    height: 780px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.modal-planif{
    flex-wrap: wrap;

    display: flex;
    justify-content: space-around;

}
.card-title-rh{
    height: 100px;
    background-color: rgba(73, 136, 31, 0.657);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs-rh{
    box-shadow: 5px 5px 5px #888888;
    width: 95%;
    margin: 100px auto;
    padding: 50px;
}
.rh-search-request{
 
    width: 50%;
    margin:50px auto;
    padding: 20px;
    background-color:  rgba(73, 136, 31, 0.657);
    box-shadow: 5px 5px 5px #888888
}
.addmilitaire{
    border: 1px solid black;
    margin: 50px 0;
}